<!DOCTYPE html>
<html lang="en" style="background-color: #f9f9f9;">
<head>
    <%- include('partials/head') %>
</head>
<body style="background-color: #f9f9f9;">
    <header style="text-align:center; z-index: 1; position: sticky; top: 0; ">
        <div id="logo" style="padding: 280px 20px 10px;"><a href="/" class="logo" style="font: 900 49px asap,arial; color:#0186da; text-shadow: 0 2px 2px #ddd; "><%= text %></a></div>
    </header>
    <P></P>
</div>

<script>
    
</script>

</body>
</html>